
.profile {
  &__avatar-wrap {
    position: relative;
    border: 2px solid #FF4903;
    border-radius: 50%;

  }

  &__avatar {
    &--opacity {
      opacity: 0.2;

    }
  }

  &__upload {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .form-control--is-read-only {
    margin-bottom: 8px;
    margin-top: 0;

    input {
      padding-left: 17px;
      margin-top: 8px;
    }
  }

  &__buttons-section,
  &__change-password-btn-section {
    margin-top: 9px;
    align-self: center;
  }
}

.dot-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FF4903;

  &:last-child {
    margin-left: 20px;
  }

  &:first-child {
    margin-right: 20px;
  }
}
